@model dynamic


<h2>@ViewBag.Location.Name</h2>
<p>@ViewBag.Location.Description</p>
<h3>Items</h3>
@foreach (var item in ViewBag.Location.Contents)
{
    <div class="object">
        <h4>@item.Name</h4>
        <p>@item.Description</p>
    </div>
}
<div style="clear:both"></div>
<h3>Exits</h3>
@foreach (var item in ViewBag.Location.Exits)
{
    <div class="object">
        <a href="/Here" data-id="@item.DestinationId" class="action"><h4>@item.Name</h4></a>
        <p>@item.Description</p>
    </div>
}
<div style="clear:both"></div>
<h3>Players Nearby</h3>
@foreach (var item in ViewBag.Location.Players)
{
    <div class="player">
        <p>@item.Name</p>            
    </div>
}
<div style="clear:both"></div>

<script>
    setTimeout(function () {
        var $ = jQuery;
        $(function() {
            $('.action').click(function(e) {
                var id = $(this).attr('data-id');
                $.ajax("/api/Move/" + id, { async: false });
            })
        });
    }, 1000);
</script>